.item {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: #f7f5ef;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bold;
  flex-direction: column;
}

.item:hover {
  border: 1px solid #494844;
  transform: scale(1.05);
}

.value {
  color: #ebb002;
}

.negativeValue {
  color: #e02828;
}
